@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 585px;
	top: 500px;
	height:40px;
	width: 280px;
}

video#filme {
	display: block;
	position: relative;
	left: 80px;
	top: 75px;
	width: 460px;
}